{
  "swagger": "2.0",
  "info": {
    "title": "API",
    "description": "# Introduction\nThis API provides Dota 2 related data. Please keep request rate to approximately 1/s.",
    "version": "1.0.0"
  },
  "host": "api.opendota.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "parameters": {
    "accountIdParam": {
      "name": "account_id",
      "in": "path",
      "description": "Steam32 account ID",
      "required": true,
      "type": "integer"
    },
    "fieldParam": {
      "name": "field",
      "in": "path",
      "description": "Field to aggregate on",
      "required": true,
      "type": "string"
    },
    "limitParam": {
      "name": "limit",
      "in": "query",
      "description": "Number of matches to limit to",
      "required": false,
      "type": "integer"
    },
    "offsetParam": {
      "name": "offset",
      "in": "query",
      "description": "Number of matches to offset start by",
      "required": false,
      "type": "integer"
    },
    "projectParam": {
      "name": "project",
      "in": "query",
      "description": "Fields to project (array)",
      "required": false,
      "type": "string"
    },
    "winParam": {
      "name": "win",
      "in": "query",
      "description": "Whether the player won",
      "required": false,
      "type": "integer"
    },
    "patchParam": {
      "name": "patch",
      "in": "query",
      "description": "Patch ID",
      "required": false,
      "type": "integer"
    },
    "gameModeParam": {
      "name": "game_mode",
      "in": "query",
      "description": "Game Mode ID",
      "required": false,
      "type": "integer"
    },
    "lobbyTypeParam": {
      "name": "lobby_type",
      "in": "query",
      "description": "Lobby type ID",
      "required": false,
      "type": "integer"
    },
    "regionParam": {
      "name": "region",
      "in": "query",
      "description": "Region ID",
      "required": false,
      "type": "integer"
    },
    "dateParam": {
      "name": "date",
      "in": "query",
      "description": "Days previous",
      "required": false,
      "type": "integer"
    },
    "laneRoleParam": {
      "name": "lane_role",
      "in": "query",
      "description": "Lane Role ID",
      "required": false,
      "type": "integer"
    },
    "heroIdParam": {
      "name": "hero_id",
      "in": "query",
      "description": "Hero ID",
      "required": false,
      "type": "integer"
    },
    "isRadiantParam": {
      "name": "is_radiant",
      "in": "query",
      "description": "Whether the player was radiant",
      "required": false,
      "type": "integer"
    },
    "withHeroIdParam": {
      "name": "with_hero_id",
      "in": "query",
      "description": "Hero IDs on the player's team (array)",
      "required": false,
      "type": "integer"
    },
    "againstHeroIdParam": {
      "name": "against_hero_id",
      "in": "query",
      "description": "Hero IDs against the player's team (array)",
      "required": false,
      "type": "integer"
    },
    "includedAccountIdParam": {
      "name": "included_account_id",
      "in": "query",
      "description": "Account IDs in the match (array)",
      "required": false,
      "type": "integer"
    },
    "excludedAccountIdParam": {
      "name": "excluded_account_id",
      "in": "query",
      "description": "Account IDs not in the match (array)",
      "required": false,
      "type": "integer"
    },
    "significantParam": {
      "name": "significant",
      "in": "query",
      "description": "Whether the match was significant for aggregation purposes",
      "required": false,
      "type": "integer"
    },
    "sortParam": {
      "name": "sort",
      "in": "query",
      "description": "The field to return matches sorted by in descending order",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/matches/{match_id}": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "A Dota 2 match",
        "parameters": [
          {
            "name": "match_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "description": "Returns match data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with match data",
            "schema": {
              "type": "object",
              "properties": {
                "match_id": {
                  "description": "match_id",
                  "type": "number"
                },
                "cluster": {
                  "description": "cluster",
                  "type": "number"
                },
                "replay_salt": {
                  "description": "replay_salt",
                  "type": "number"
                },
                "series_id": {
                  "description": "series_id",
                  "type": "number"
                },
                "series_type": {
                  "description": "series_type",
                  "type": "number"
                },
                "parties": {
                  "description": "parties",
                  "type": "object"
                },
                "skill": {
                  "description": "skill",
                  "type": "number"
                },
                "players": {
                  "description": "players",
                  "type": "object"
                },
                "barracks_status_dire": {
                  "description": "barracks_status_dire",
                  "type": "number"
                },
                "barracks_status_radiant": {
                  "description": "barracks_status_radiant",
                  "type": "number"
                },
                "chat": {
                  "description": "chat",
                  "type": "object"
                },
                "duration": {
                  "description": "duration",
                  "type": "number"
                },
                "engine": {
                  "description": "engine",
                  "type": "number"
                },
                "first_blood_time": {
                  "description": "first_blood_time",
                  "type": "number"
                },
                "game_mode": {
                  "description": "game_mode",
                  "type": "number"
                },
                "human_players": {
                  "description": "human_players",
                  "type": "number"
                },
                "leagueid": {
                  "description": "leagueid",
                  "type": "number"
                },
                "lobby_type": {
                  "description": "lobby_type",
                  "type": "number"
                },
                "match_seq_num": {
                  "description": "match_seq_num",
                  "type": "number"
                },
                "negative_votes": {
                  "description": "negative_votes",
                  "type": "number"
                },
                "objectives": {
                  "description": "objectives",
                  "type": "object"
                },
                "picks_bans": {
                  "description": "picks_bans",
                  "type": "object"
                },
                "positive_votes": {
                  "description": "positive_votes",
                  "type": "number"
                },
                "radiant_gold_adv": {
                  "description": "radiant_gold_adv",
                  "type": "object"
                },
                "radiant_win": {
                  "description": "radiant_win",
                  "type": "boolean"
                },
                "radiant_xp_adv": {
                  "description": "radiant_xp_adv",
                  "type": "object"
                },
                "start_time": {
                  "description": "start_time",
                  "type": "number"
                },
                "teamfights": {
                  "description": "teamfights",
                  "type": "object"
                },
                "tower_status_dire": {
                  "description": "tower_status_dire",
                  "type": "number"
                },
                "tower_status_radiant": {
                  "description": "tower_status_radiant",
                  "type": "number"
                },
                "version": {
                  "description": "version",
                  "type": "number"
                },
                "patch": {
                  "description": "patch",
                  "type": "number"
                },
                "region": {
                  "description": "region",
                  "type": "number"
                },
                "all_word_counts": {
                  "description": "all_word_counts",
                  "type": "object"
                },
                "my_word_counts": {
                  "description": "my_word_counts",
                  "type": "object"
                },
                "throw": {
                  "description": "throw",
                  "type": "number"
                },
                "loss": {
                  "description": "loss",
                  "type": "number"
                },
                "replay_url": {
                  "description": "replay_url",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "object",
              "properties": {
                "tracked_until": {
                  "description": "tracked_until",
                  "type": "string"
                },
                "solo_competitive_rank": {
                  "description": "solo_competitive_rank",
                  "type": "string"
                },
                "competitive_rank": {
                  "description": "competitive_rank",
                  "type": "string"
                },
                "mmr_estimate": {
                  "description": "mmr_estimate",
                  "type": "object"
                },
                "profile": {
                  "description": "profile",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wl": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wins/losses",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns a Dota 2 player's wins/losses",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player wins/losses",
            "schema": {
              "type": "object",
              "properties": {
                "win": {
                  "description": "win",
                  "type": "number"
                },
                "lose": {
                  "description": "lose",
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/matches": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's matches",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/projectParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns a Dota 2 player's matches",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player matches",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/heroes": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's played heroes",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Count of games played on heroes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/peers": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's peers",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/pros": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's games played with professional players",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/records": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's records",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "object",
              "properties": {
                "kills": {
                  "description": "kills",
                  "type": "object"
                },
                "deaths": {
                  "description": "deaths",
                  "type": "object"
                },
                "assists": {
                  "description": "assists",
                  "type": "object"
                },
                "kda": {
                  "description": "kda",
                  "type": "object"
                },
                "gold_per_min": {
                  "description": "gold_per_min",
                  "type": "object"
                },
                "xp_per_min": {
                  "description": "xp_per_min",
                  "type": "object"
                },
                "last_hits": {
                  "description": "last_hits",
                  "type": "object"
                },
                "denies": {
                  "description": "denies",
                  "type": "object"
                },
                "lane_efficiency_pct": {
                  "description": "lane_efficiency_pct",
                  "type": "object"
                },
                "duration": {
                  "description": "duration",
                  "type": "object"
                },
                "level": {
                  "description": "level",
                  "type": "object"
                },
                "hero_damage": {
                  "description": "hero_damage",
                  "type": "object"
                },
                "tower_damage": {
                  "description": "tower_damage",
                  "type": "object"
                },
                "hero_healing": {
                  "description": "hero_healing",
                  "type": "object"
                },
                "stuns": {
                  "description": "stuns",
                  "type": "object"
                },
                "tower_kills": {
                  "description": "tower_kills",
                  "type": "object"
                },
                "neutral_kills": {
                  "description": "neutral_kills",
                  "type": "object"
                },
                "courier_kills": {
                  "description": "courier_kills",
                  "type": "object"
                },
                "purchase_tpscroll": {
                  "description": "purchase_tpscroll",
                  "type": "object"
                },
                "purchase_ward_observer": {
                  "description": "purchase_ward_observer",
                  "type": "object"
                },
                "purchase_ward_sentry": {
                  "description": "purchase_ward_sentry",
                  "type": "object"
                },
                "purchase_gem": {
                  "description": "purchase_gem",
                  "type": "object"
                },
                "purchase_rapier": {
                  "description": "purchase_rapier",
                  "type": "object"
                },
                "pings": {
                  "description": "pings",
                  "type": "object"
                },
                "throw": {
                  "description": "throw",
                  "type": "object"
                },
                "comeback": {
                  "description": "comeback",
                  "type": "object"
                },
                "stomp": {
                  "description": "stomp",
                  "type": "object"
                },
                "loss": {
                  "description": "loss",
                  "type": "object"
                },
                "actions_per_min": {
                  "description": "actions_per_min",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/counts": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's categorical match counts",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "object",
              "properties": {
                "leaver_status": {
                  "description": "leaver_status",
                  "type": "object"
                },
                "game_mode": {
                  "description": "game_mode",
                  "type": "object"
                },
                "lobby_type": {
                  "description": "lobby_type",
                  "type": "object"
                },
                "lane_role": {
                  "description": "lane_role",
                  "type": "object"
                },
                "region": {
                  "description": "region",
                  "type": "object"
                },
                "patch": {
                  "description": "patch",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/histograms/{field}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's histograms in a stat",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/wardmap": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wardmap",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "object",
              "properties": {
                "obs": {
                  "description": "obs",
                  "type": "object"
                },
                "sen": {
                  "description": "sen",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wordcloud": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wordcloud",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "object",
              "properties": {
                "my_word_counts": {
                  "description": "my_word_counts",
                  "type": "object"
                },
                "all_word_counts": {
                  "description": "all_word_counts",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/ratings": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's rating history",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player rating data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/rankings": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's hero rankings",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player ranking data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Site metadata",
        "description": "Returns current site metadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Current site metadata",
            "schema": {
              "type": "object",
              "properties": {
                "banner": {
                  "description": "banner",
                  "type": "object"
                },
                "cheese": {
                  "description": "cheese",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/distributions": {
      "get": {
        "tags": [
          "distributions"
        ],
        "summary": "Global Dota 2 statistics",
        "description": "Returns distribution data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with distribution data",
            "schema": {
              "type": "object",
              "properties": {
                "mmr": {
                  "description": "mmr",
                  "type": "object"
                },
                "country_mmr": {
                  "description": "country_mmr",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search players by personaname",
        "description": "Returns player search results",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search string",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of search results",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/rankings": {
      "get": {
        "tags": [
          "rankings"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Hero rankings",
        "description": "Returns top-ranked players for a hero",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of top players",
            "schema": {
              "type": "object",
              "properties": {
                "hero_id": {
                  "description": "hero_id",
                  "type": "number"
                },
                "rankings": {
                  "description": "rankings",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "benchmarks"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Benchmarks of average stat values for a hero",
        "description": "Returns benchmarks for a hero",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Benchmark values",
            "schema": {
              "type": "object",
              "properties": {
                "hero_id": {
                  "description": "hero_id",
                  "type": "number"
                },
                "result": {
                  "description": "result",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
