{
  "swagger": "2.0",
  "info": {
    "title": "YASP API",
    "description": "Provides Dota 2 data. Please use the official Steam WebAPI when possible. See http://dev.dota2.com/showthread.php?t=58317",
    "version": "1.0.0"
  },
  "host": "yasp.co",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Site metadata",
        "description": "Returns current site metadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Current site metadata",
            "schema": {
              "properties": {
                "banner": {
                  "type": "string",
                  "description": "The current banner message"
                },
                "cheese": {
                  "type": "object",
                  "description": "Progress toward donation goal"
                },
                "user": {
                  "type": "object",
                  "description": "Data of the currently logged in user"
                }
              }
            }
          }
        }
      }
    },
    "/constants": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Constants used for mapping IDs to data",
        "description": "Returns constant values",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Constant values",
            "schema": {
              "properties": {
              }
            }
          }
        }
      }
    },
    "/matches/{match_id}": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "A Dota 2 match",
        "parameters": [
          {
            "name": "match_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "description": "Returns match data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with match data",
            "schema": {
              "properties": {
                "match_id": {},
                "barracks_status_dire": {},
                "barracks_status_radiant": {},
                "chat": {},
                "cluster": {},
                "duration": {},
                "engine": {},
                "first_blood_time": {},
                "game_mode": {},
                "human_players": {},
                "leagueid": {},
                "lobby_type": {},
                "match_seq_num": {},
                "negative_votes": {},
                "objectives": {},
                "pgroup": {},
                "picks_bans": {},
                "positive_votes": {},
                "radiant_gold_adv": {},
                "radiant_win": {},
                "radiant_xp_adv": {},
                "start_time": {},
                "teamfights": {},
                "tower_status_dire": {},
                "tower_status_radiant": {},
                "version": {},
                "replay_url": {},
                "players": {},
                "patch": {},
                "region": {},
                "total_gold": {},
                "total_xp": {},
                "kills_per_min": {},
                "heroes": {},
                "all_word_counts": {},
                "my_word_counts": {},
                "posData": {},
                "comeback": {},
                "stomp": {},
                "hero_combat": {},
                "sentiment": {},
                "incomeData": {},
                "graphData": {},
                "rating": {},
                "rating_percentile": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/matches": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/heroes": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/peers": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/activity": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/records": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/counts": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/histograms": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/trends": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wardmap": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/items": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wordcloud": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/rating": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/rankings": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "win": {},
                "lose": {},
                "heroes_list": {},
                "teammates_list": {},
                "matches": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {},
                "wordcloud": {},
                "aggData": {},
                "wardmap": {},
                "rankings": {},
                "activity": {}
              }
            }
          }
        }
      }
    },
    "/distributions": {
      "get": {
        "tags": [
          "distributions"
        ],
        "summary": "Global Dota 2 statistics",
        "description": "Returns ability data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with distribution data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    }
  }
}
