{
  "swagger": "2.0",
  "info": {
    "title": "YASP API",
    "description": "Provides Dota 2 data. Please use the official Steam WebAPI when possible. See http://dev.dota2.com/showthread.php?t=58317",
    "version": "1.0.0"
  },
  "host": "yasp.co",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "parameters": {
    "accountIdParam": {
      "name": "account_id",
      "in": "path",
      "description": "Steam32 account ID",
      "required": true,
      "type": "integer"
    },
    "fieldParam": {
      "name": "field",
      "in": "path",
      "description": "Field to aggregate on",
      "required": true,
      "type": "string"
    },
    "projectParam": {
      "name": "project",
      "in": "query",
      "description": "Fields to project (array)",
      "required": false,
      "type": "string"
    },
    "winParam": {
      "name": "win",
      "in": "query",
      "description": "Whether the player won",
      "required": false,
      "type": "integer"
    },
    "patchParam": {
      "name": "patch",
      "in": "query",
      "description": "Patch ID",
      "required": false,
      "type": "integer"
    },
    "gameModeParam": {
      "name": "game_mode",
      "in": "query",
      "description": "Game Mode ID",
      "required": false,
      "type": "integer"
    },
    "lobbyTypeParam": {
      "name": "lobby_type",
      "in": "query",
      "description": "Lobby type ID",
      "required": false,
      "type": "integer"
    },
    "regionParam": {
      "name": "region",
      "in": "query",
      "description": "Region ID",
      "required": false,
      "type": "integer"
    },
    "dateParam": {
      "name": "date",
      "in": "query",
      "description": "Days previous",
      "required": false,
      "type": "integer"
    },
    "laneRoleParam": {
      "name": "lane_role",
      "in": "query",
      "description": "Lane Role ID",
      "required": false,
      "type": "integer"
    },
    "heroIdParam": {
      "name": "hero_id",
      "in": "query",
      "description": "Hero ID",
      "required": false,
      "type": "integer"
    },
    "isRadiantParam": {
      "name": "is_radiant",
      "in": "query",
      "description": "Whether the player was radiant",
      "required": false,
      "type": "integer"
    },
    "withHeroIdParam": {
      "name": "with_hero_id",
      "in": "query",
      "description": "Hero IDs on the player's team (array)",
      "required": false,
      "type": "integer"
    },
    "againstHeroIdParam": {
      "name": "against_hero_id",
      "in": "query",
      "description": "Hero IDs against the player's team (array)",
      "required": false,
      "type": "integer"
    },
    "includedAccountIdParam": {
      "name": "included_account_id",
      "in": "query",
      "description": "Account IDs in the match (array)",
      "required": false,
      "type": "integer"
    },
    "excludedAccountIdParam": {
      "name": "excluded_account_id",
      "in": "query",
      "description": "Account IDs not in the match (array)",
      "required": false,
      "type": "integer"
    },
    "significantParam": {
      "name": "significant",
      "in": "query",
      "description": "Whether the match was significant for aggregation purposes",
      "required": false,
      "type": "integer"
    }
  },
  "paths": {
    "/matches/{match_id}": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "A Dota 2 match",
        "parameters": [
          {
            "name": "match_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "description": "Returns match data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with match data",
            "schema": {
              "properties": {
                "match_id": {},
                "barracks_status_dire": {},
                "barracks_status_radiant": {},
                "chat": {},
                "cluster": {},
                "duration": {},
                "engine": {},
                "first_blood_time": {},
                "game_mode": {},
                "human_players": {},
                "leagueid": {},
                "lobby_type": {},
                "match_seq_num": {},
                "negative_votes": {},
                "objectives": {},
                "pgroup": {},
                "picks_bans": {},
                "positive_votes": {},
                "radiant_gold_adv": {},
                "radiant_win": {},
                "radiant_xp_adv": {},
                "start_time": {},
                "teamfights": {},
                "tower_status_dire": {},
                "tower_status_radiant": {},
                "version": {},
                "replay_url": {},
                "players": {},
                "patch": {},
                "region": {},
                "total_gold": {},
                "total_xp": {},
                "kills_per_min": {},
                "heroes": {},
                "all_word_counts": {},
                "my_word_counts": {},
                "posData": {},
                "comeback": {},
                "stomp": {},
                "hero_combat": {},
                "sentiment": {},
                "incomeData": {},
                "graphData": {},
                "rating": {},
                "rating_percentile": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {
                "profile": {},
                "mmr_estimate": {},
                "solo_competitive_rank": {},
                "competitive_rank": {}
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wl": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player wins/loses",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns a Dota 2 player's wins/loses",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player wins/loses",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/matches": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's matches",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/projectParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns a Dota 2 player's matches",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player matches",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/heroes": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's played heroes",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/peers": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's peers",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/activity": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's activity",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/records": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's records",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/counts": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's categorical match counts",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/histograms/{field}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's histograms in a stat",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/fieldParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/trends/{field}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's trends in a stat",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/fieldParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/wardmap": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wardmap",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/items": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's item history",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/wordcloud": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wordcloud",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/rating": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's rating history",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/players/{account_id}/rankings": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's hero rankings",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Site metadata",
        "description": "Returns current site metadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Current site metadata",
            "schema": {
              "properties": {
                "banner": {
                  "type": "string",
                  "description": "The current banner message"
                },
                "cheese": {
                  "type": "object",
                  "description": "Progress toward donation goal"
                },
                "user": {
                  "type": "object",
                  "description": "Data of the currently logged in user"
                }
              }
            }
          }
        }
      }
    },
    "/distributions": {
      "get": {
        "tags": [
          "distributions"
        ],
        "summary": "Global Dota 2 statistics",
        "description": "Returns ability data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with distribution data",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search players by personaname",
        "description": "Returns player search results",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search string",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of search results",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/rankings": {
      "get": {
        "tags": [
          "rankings"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Hero rankings",
        "description": "Returns top-ranked players for a hero",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of top players",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "benchmarks"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Benchmarks of average stat values for a hero",
        "description": "Returns benchmarks for a hero",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Benchmark values",
            "schema": {
              "properties": {}
            }
          }
        }
      }
    }
  }
}
