{
  "swagger": "2.0",
  "info": {
    "title": "API",
    "description": "# Introduction\nThis API provides Dota 2 related data. Please keep request rate to approximately 1/s.",
    "version": "1.0.0"
  },
  "host": "yasp.co",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "parameters": {
    "accountIdParam": {
      "name": "account_id",
      "in": "path",
      "description": "Steam32 account ID",
      "required": true,
      "type": "integer"
    },
    "fieldParam": {
      "name": "field",
      "in": "path",
      "description": "Field to aggregate on",
      "required": true,
      "type": "string"
    },
    "limitParam": {
      "name": "limit",
      "in": "query",
      "description": "Number of matches to limit to",
      "required": false,
      "type": "integer"
    },
    "offsetParam": {
      "name": "offset",
      "in": "query",
      "description": "Number of matches to offset start by",
      "required": false,
      "type": "integer"
    },
    "projectParam": {
      "name": "project",
      "in": "query",
      "description": "Fields to project (array)",
      "required": false,
      "type": "string"
    },
    "winParam": {
      "name": "win",
      "in": "query",
      "description": "Whether the player won",
      "required": false,
      "type": "integer"
    },
    "patchParam": {
      "name": "patch",
      "in": "query",
      "description": "Patch ID",
      "required": false,
      "type": "integer"
    },
    "gameModeParam": {
      "name": "game_mode",
      "in": "query",
      "description": "Game Mode ID",
      "required": false,
      "type": "integer"
    },
    "lobbyTypeParam": {
      "name": "lobby_type",
      "in": "query",
      "description": "Lobby type ID",
      "required": false,
      "type": "integer"
    },
    "regionParam": {
      "name": "region",
      "in": "query",
      "description": "Region ID",
      "required": false,
      "type": "integer"
    },
    "dateParam": {
      "name": "date",
      "in": "query",
      "description": "Days previous",
      "required": false,
      "type": "integer"
    },
    "laneRoleParam": {
      "name": "lane_role",
      "in": "query",
      "description": "Lane Role ID",
      "required": false,
      "type": "integer"
    },
    "heroIdParam": {
      "name": "hero_id",
      "in": "query",
      "description": "Hero ID",
      "required": false,
      "type": "integer"
    },
    "isRadiantParam": {
      "name": "is_radiant",
      "in": "query",
      "description": "Whether the player was radiant",
      "required": false,
      "type": "integer"
    },
    "withHeroIdParam": {
      "name": "with_hero_id",
      "in": "query",
      "description": "Hero IDs on the player's team (array)",
      "required": false,
      "type": "integer"
    },
    "againstHeroIdParam": {
      "name": "against_hero_id",
      "in": "query",
      "description": "Hero IDs against the player's team (array)",
      "required": false,
      "type": "integer"
    },
    "includedAccountIdParam": {
      "name": "included_account_id",
      "in": "query",
      "description": "Account IDs in the match (array)",
      "required": false,
      "type": "integer"
    },
    "excludedAccountIdParam": {
      "name": "excluded_account_id",
      "in": "query",
      "description": "Account IDs not in the match (array)",
      "required": false,
      "type": "integer"
    },
    "significantParam": {
      "name": "significant",
      "in": "query",
      "description": "Whether the match was significant for aggregation purposes",
      "required": false,
      "type": "integer"
    },
    "sortParam": {
      "name": "sort",
      "in": "query",
      "description": "The field to return matches sorted by in descending order",
      "required": false,
      "type": "string"
    }
  },
  "paths": {
    "/matches/{match_id}": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "A Dota 2 match",
        "parameters": [
          {
            "name": "match_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "description": "Returns match data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with match data",
            "schema": {
              "match_id": "number",
              "cluster": "number",
              "replay_salt": "number",
              "series_id": "number",
              "series_type": "number",
              "parties": "object",
              "skill": "number",
              "players": "object",
              "barracks_status_dire": "number",
              "barracks_status_radiant": "number",
              "chat": "object",
              "duration": "number",
              "engine": "number",
              "first_blood_time": "number",
              "game_mode": "number",
              "human_players": "number",
              "leagueid": "number",
              "lobby_type": "number",
              "match_seq_num": "number",
              "negative_votes": "number",
              "objectives": "object",
              "picks_bans": "object",
              "positive_votes": "number",
              "radiant_gold_adv": "object",
              "radiant_win": "boolean",
              "radiant_xp_adv": "object",
              "start_time": "number",
              "teamfights": "object",
              "tower_status_dire": "number",
              "tower_status_radiant": "number",
              "version": "number",
              "patch": "number",
              "region": "number",
              "all_word_counts": "object",
              "my_word_counts": "object",
              "throw": "number",
              "loss": "number",
              "replay_url": "string"
            }
          }
        }
      }
    },
    "/players/{account_id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "tracked_until": "string",
              "solo_competitive_rank": "string",
              "competitive_rank": "string",
              "mmr_estimate": "object",
              "profile": "object"
            }
          }
        }
      }
    },
    "/players/{account_id}/wl": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wins/losses",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns a Dota 2 player's wins/losses",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player wins/losses",
            "schema": {
              "win": "number",
              "lose": "number"
            }
          }
        }
      }
    },
    "/players/{account_id}/matches": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's matches",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/projectParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns a Dota 2 player's matches",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player matches",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/heroes": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's played heroes",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Count of games played on heroes",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/peers": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's peers",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/pros": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's games played with professional players",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/records": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's records",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "kills": "object",
              "deaths": "object",
              "assists": "object",
              "kda": "object",
              "gold_per_min": "object",
              "xp_per_min": "object",
              "last_hits": "object",
              "denies": "object",
              "lane_efficiency_pct": "object",
              "duration": "object",
              "level": "object",
              "hero_damage": "object",
              "tower_damage": "object",
              "hero_healing": "object",
              "stuns": "object",
              "tower_kills": "object",
              "neutral_kills": "object",
              "courier_kills": "object",
              "purchase_tpscroll": "object",
              "purchase_ward_observer": "object",
              "purchase_ward_sentry": "object",
              "purchase_gem": "object",
              "purchase_rapier": "object",
              "pings": "object",
              "throw": "object",
              "comeback": "object",
              "stomp": "object",
              "loss": "object",
              "actions_per_min": "object"
            }
          }
        }
      }
    },
    "/players/{account_id}/counts": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's categorical match counts",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "leaver_status": "object",
              "game_mode": "object",
              "lobby_type": "object",
              "lane_role": "object",
              "region": "object",
              "patch": "object"
            }
          }
        }
      }
    },
    "/players/{account_id}/histograms/{field}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's histograms in a stat",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/fieldParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "2": "object",
              "4": "object",
              "5": "object",
              "10": "object",
              "12": "object",
              "15": "object"
            }
          }
        }
      }
    },
    "/players/{account_id}/wardmap": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wardmap",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "obs": "object",
              "sen": "object"
            }
          }
        }
      }
    },
    "/players/{account_id}/wordcloud": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's wordcloud",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/winParam"
          },
          {
            "$ref": "#/parameters/patchParam"
          },
          {
            "$ref": "#/parameters/gameModeParam"
          },
          {
            "$ref": "#/parameters/lobbyTypeParam"
          },
          {
            "$ref": "#/parameters/regionParam"
          },
          {
            "$ref": "#/parameters/dateParam"
          },
          {
            "$ref": "#/parameters/laneRoleParam"
          },
          {
            "$ref": "#/parameters/heroIdParam"
          },
          {
            "$ref": "#/parameters/isRadiantParam"
          },
          {
            "$ref": "#/parameters/includedAccountIdParam"
          },
          {
            "$ref": "#/parameters/excludedAccountIdParam"
          },
          {
            "$ref": "#/parameters/withHeroIdParam"
          },
          {
            "$ref": "#/parameters/againstHeroIdParam"
          },
          {
            "$ref": "#/parameters/significantParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "description": "Returns player data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Player data",
            "schema": {
              "my_word_counts": "object",
              "all_word_counts": "object"
            }
          }
        }
      }
    },
    "/players/{account_id}/ratings": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's rating history",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player rating data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/players/{account_id}/rankings": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "A Dota 2 player's hero rankings",
        "parameters": [
          {
            "$ref": "#/parameters/accountIdParam"
          }
        ],
        "description": "Returns player ranking data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Site metadata",
        "description": "Returns current site metadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Current site metadata",
            "schema": {
              "banner": "object",
              "cheese": "object"
            }
          }
        }
      }
    },
    "/distributions": {
      "get": {
        "tags": [
          "distributions"
        ],
        "summary": "Global Dota 2 statistics",
        "description": "Returns distribution data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "An object with distribution data",
            "schema": {
              "mmr": "object",
              "country_mmr": "object"
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search players by personaname",
        "description": "Returns player search results",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search string",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of search results",
            "schema": {
              "type": "array"
            }
          }
        }
      }
    },
    "/rankings": {
      "get": {
        "tags": [
          "rankings"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Hero rankings",
        "description": "Returns top-ranked players for a hero",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of top players",
            "schema": {
              "hero_id": "number",
              "rankings": "object"
            }
          }
        }
      }
    },
    "/benchmarks": {
      "get": {
        "tags": [
          "benchmarks"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": true,
            "type": "string"
          }
        ],
        "summary": "Benchmarks of average stat values for a hero",
        "description": "Returns benchmarks for a hero",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Benchmark values",
            "schema": {
              "hero_id": "number",
              "result": "object"
            }
          }
        }
      }
    }
  }
}
